<!DOCTYPE html>
<html lang="zh-CN">
  <%- partial('_partial/head') %>
  <body>
    <div id="wrapper">
      <%- partial('_partial/header') %>
      <%- body %>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>
