<!DOCTYPE html>
<html lang="zh-CN">
  <%- partial('_partial/head') %>
  <body>
    <div id="wrapper">
      <%- partial('_partial/header') %>
      <div id="body-wrapper">
        <%- body %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>
