<article class="article">
  <h1 id="-" class="article-title"><%= page.title %></h1>
  <p class="article-date">
    <i class="icon-calendar"></i> <%- date(page.date, "YYYY-MM-DD") %>
  </p>
  <%- page.content %>
</article>
