html {
  font-size: 16px;
  font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #555555
}

li {
  list-style-type: none;
}

p {
  line-height: 1.8rem;
}

a:link, a:visited{
  background-image: none;
  font-weight: normal;
  color: #49c371;
  text-decoration: none;
}

/* article.article a:link, article.article a:visited{
  border-bottom: 1px solid #49c371;
} */

article.article img{
  display: block;
  margin: 1.5rem auto 0;
  max-width: 100%;
  box-shadow: 0 2px 4px 0px #00000066;
}

a.menu-item:link, a.menu-item:visited{
  color: #636463
}

a:focus{
  outline: none;
}

ol li{
  list-style: decimal;
  margin-left: 2rem;
  padding-left: 0.5rem;
}

h1{
  position: relative;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #4c6575;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 50rem) {

/* .article > h1::before {
  position: absolute;
  right: 100%;
  padding-right: 0.6rem;
  color: #adc4ca;
  content: "#";
} */

}

h2, h3, h4, h5, h6{
  position: relative;
  font-size: 1.0rem;
  line-height: 1.0rem;
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}

h2{
  font-size: 1.3rem;
  color: #4c6575;
}

h3{
  font-size: 1.2rem;
  color: #597180;
}

h4{
  font-size: 1.1rem;
  color: #758c9b;
}

h5, h6{
  font-size: 1.0rem;
  color: #889eac;
}

@media only screen and (min-width: 50rem){

h2::before, h3::before, h4::before, h5::before, h6::before {
  position: absolute;
  right: 100%;
  padding-right: 0.6rem;
  color: #adc4ca
}

h2::before {
  content: "##";
}

h3::before {
  content: "###";
}

h4::before {
  content: "####";
}

h5::before {
  content: "#####";
}

h6::before {
  content: "######";
}

}

code{
  margin: 0 2px;
  padding: 3px 5px;
  color: #ff6e6e;
  border-radius: 2px;
  white-space: inherit;
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}

strong {
  font-weight: bold;
  color: #00b9b3;
}

#wrapper {
  max-width: 50rem;
  margin: auto;
}
@media only screen and (max-width: 50rem){
  #wrapper {
    width: auto;
    padding: 0 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

#page-header{
  padding: 3rem 0 1rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  height: 3rem;
  text-align: center;
  border-bottom: 1px solid #d2aba6;
}
@media only screen and (max-width: 50rem){
  #page-header{
    padding: 30px 0;
    padding-bottom: 0;
    height: auto;
    padding-bottom: 1rem;
  }
}

#page-header a{
  background-image: none;
}

#logo {
  position: absolute;
  top: -0.8rem;

  width: 4rem;
  height: 4rem;
}

#header-title{
  position: relative;
  float: left;
  text-align: center;
  padding-top: 0.1rem;
}
@media only screen and (max-width: 50rem){
  #header-title {
    float: none;
    margin-bottom: 1rem;
  }
}

#header-title a{
  font-size: 1.4rem;
  margin-left: 4.2rem;
  color: #FF7260;
}

#header-nav{
  float: right;
  text-align: center;
  margin-top: 0.2rem;
}
@media only screen and (max-width: 50rem){
  #header-nav {
    float: none;
  }
}

#header-nav a{
  font-weight: normal;
  padding: 0 0.6rem;
  color: #FF7260;
}

#header-nav a.active{
  border-bottom: 2px solid #FF7260;
}

#header-nav li{
  display: inline-block;
  padding: 0 0.5rem;
}

#body-wrapper {
  /* margin-left: 1rem;
  margin-right: 1 */
}

.article-item{
  border-bottom: 1px solid #d2aba6;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.article-item-title {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
}

.article-item-title>a{
  font-size: 1.4rem;
  font-weight: bold;
  color: #FF7260;
}

.article-item-date{
  font-size: 0.85rem;
  margin-bottom: 1rem;
  color: #8c8c8c;
}

.footer{
  margin: 2rem auto 2rem;
  padding-top: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #949494;
}

.article{
  /* font-size: 14px; */
  border-bottom: 1px solid #d2aba6;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.article-date{
  font-size: 0.85rem;
  margin-bottom: 1.6rem;
  color: #8c8c8c;
}

.paginator{
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.paginator a{
  padding: 8px 12px;
  background-color: transparent;
  border-radius: 0.3rem;
  /* border: 1px solid #d0bab9; */
  background-image: none;
  font-weight: normal;
  color: #FF7260;
  font-size: 1rem;
  margin: 1rem 1rem;
}

.paginator a[disabled]{
  color: #c0c0c0;
}

.paginator-next{
  position: relative;
  right: 0;
}

pre{
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}

figure.highlight{
  line-height: 1.3rem;
  background-color: #f9f9f9;
  border-radius: 0.6rem;
  padding: 0 1rem;
  margin: 0;
}

@media only screen and (max-width: 50rem){
  figure.highlight {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

figure table{
  display: block;
  max-width: 100%;
  overflow-y: hidden;
}

figure table, figure tbody, figure tr, figure, td{
  display: block;
  max-width: 100%;
}

figure td.code{
  padding: 0;
}

figure td.gutter{
  display: none;
}

blockquote {
  position: relative;
  background-color: #f9f9f9;
  border-radius: 0.6rem;
  padding: 1rem 1rem 0.5rem 0.5rem;
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (max-width: 50rem){
  blockquote {
    margin-left: 0;
    margin-right: 0;
  }
}

blockquote:before {
  position: absolute;
  left: 1rem;
  content: '\f10d';
  font-family: "fontello";
  color: #dddddd;
}

blockquote p {
  padding-left: 2rem;
  /* border-left: 3px solid #7abed1; */
}

ul, ol {
  line-height: 1.8rem;
  padding-left: 3rem;
}

@media only screen and (max-width: 50rem){
  ul, ol {
    padding-left: 2rem;
  }
}

ul > li {
  position: relative;
}

ul > li:before {
  position: absolute;
  content: ' ';
  height: 0.4rem;
  width: 0.4rem;
  top: 0.6rem;
  right: 100%;
  margin-right: 1rem;
  background-color: #FF7260;
  border-radius: 50%;
  display: inline-block;
}

ol {
  counter-reset: ol-counter;
}

ol li {
  position: relative;
  list-style: none;
  counter-increment: ol-counter;
  margin-left: 0;
  padding-left: 0;
}

ol li::before {
  position: absolute;
  right: 100%;
  margin-right: 0.8rem;

  content: counter(ol-counter) ". ";
  color: #FF7260;
}

p.img-caption {
  text-align: center;
  margin-bottom: 2rem;
}

.archive-wrapper {
  padding-bottom: 2rem;
  border-bottom: 1px solid #d2aba6;
}

.archive-year-title {
  margin-top: 2rem;
}

.archive-year-section {
  line-height: 2rem;
}

.archive-post-title {
  padding-left: 1rem;
}

.utterances-container {
  border-top: 1px solid #d2aba6;
  margin-top: 3rem;
  padding-top: 0.6rem;
}
