<footer>
  <div class="footer">
    LICENSE: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
    <i class="icon-cc"></i>
    <i class="icon-cc-by"></i>
    <i class="icon-cc-nc"></i>
    <i class="icon-cc-sa"></i>
  </div>
</footer>
