<header id="page-header">
  <div id="header-title">
    <img id="logo" src="/img/logo.png" alt="logo" width="64" height="64" />
    <a href="<%- url_for('') %>"><%- config.title %></a>
  </div>
  <div id="header-nav">
    <a href="https://www.artstation.com/yewmint" target="_blank" class="nav-item"><i class="icon-brush"></i> ArtStation</a>
    <a href="https://github.com/yewmint" target="_blank" class="nav-item"><i class="icon-github"></i> GitHub</a>
    <a href="/archives" class="nav-item"><i class="icon-box"></i> Archive</a>
    <!-- <a href="/atom.xml" class="nav-item"><i class="icon-rss"></i> Feed</a> -->
  </div>
</header>
